<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.alienator88.HelperApp.HelperTool</key>
		<string>$(AppIdentifierPrefix)com.alienator88.HelperApp.HelperTool</string>
	</dict>
</dict>
</plist>
